{% extends "encyclopedia/layout.html" %}

{% block title %}
    r/IBO Newspaper Project
{% endblock %}

{% block body %}
    <div class="">
    <h1>This Project</h1>
    <p>This project is a r/IBO Newspaper. This way, members can share their writings and their talents, such as drawing, and even music. Not only these, but this newspaper can allow members to share their stories, tips, and help one another, which is essentially the purpose of this server. This can serve as a platform for students to explore issues that are important to them and their peers, such as social justice, mental health, academic stress, and the IBO, of course.</p>
    <p>This project will not only help bring the community together, but it will also help students develop their writing, editing, and digital media skills, which can be beneficial for the diploma programme, and even possibly their future academic and professional careers. Partaking in this project can help members to promote critical thinking, awareness, and advocacy, for things they're interested about.</p>
    <p>We've passed the 50k member threshold, which means the server is now bigger than a small town, as defined by the US Census Bureau. Every small town has its own publication, and this would be ours. This can take our community a step forward.</p>
    <p>Furthermore, this project can be used as a CAS project inside the server, as explained later (see <a href="#project">here</a>).</p>
    </div>
    <hr>
    <div class="" id="place">
        <h2>Where will this project be taking place?</h2>
        <p>The pieces will be published here: <a href="https://ibo.pythonanywhere.com">https://ibo.pythonanywhere.com</a> - the website is made with sample posts and texts, just for the staff to get the feel of this project when it’s running. The aesthetic aspect of the website can be improved as this project continues. If met with enough support, there can be people appointed as website managers, just to improve the looks of the website. This Website is best viewed on PC/Laptop.</p>
        <p>If the mods have any issues with any of the sections on the website, we're more than happy to take the suggestions on board.</p>

        <p>Our Discord: <a href="https://discord.gg/ibo">https://discord.gg/ibo</a></p>
    </div>
    <hr>
    <div class="" id="project">
        <h2>The rationale for a CAS project inside the server:</h2>
        <p>The assistance provided through the CAS channel is limited. Despite other channels offering help to the IB students, the CAS channel is commonly filled with responses such as "ask your coordinator," which is made light of in the channel's description, as well.</p>
        <p>Additionally, people often seek project ideas in the channel, which contravenes rule 5 concerning academic dishonesty, and some individuals use the channel to promote their own CAS projects, which violates rule 10. By incorporating a CAS project section within the server, we can provide assistance to all three groups mentioned and also direct people to this section when they seek project ideas.</p>
        
        <h3>NP Tag:</h3>
        <p><strong>&amp;tag create “CAS idea”</strong> “This server offers a CAS activity, which is contributing to the r/IBO Newspaper (<a href="https://ibonewspaper.wixsite.com/ibo-newspaper">https://ibonewspaper.wixsite.com/ibo-newspaper</a>). In order to join, or learn more about the activity, head to <a href="https://discord.gg/ibo">https://discord.gg/ibo</a> and get the NP Member role.</strong></p>
        <p>Please keep in mind that the activity still has to be approved by your CAS coordinator.</p>
        <hr>
        <h3>CAS pin:</h3>
        <p>If you're looking for a CAS idea, project or activity, you can join the r/IBO Newspaper, which is an e-news magazine created by and for the members of the r/IBO community. As a student-led initiative, this newspaper provides an opportunity for students to showcase their abilities while fulfilling their CAS requirements. The website can be found here: <a href="https://ibonewspaper.wixsite.com/ibo-newspaper">https://ibonewspaper.wixsite.com/ibo-newspaper</a></p>
        <p>As a member of the r/IBO Newspaper team, you'll have the chance to contribute in a variety of ways, from writing articles and poetry to showcasing your artistic talents through photography or music. These contributions can be anything you're passionate about. With enough activity, you can apply to become an editor or a website manager, too!</p>
        <p>This is an excellent opportunity to develop your skills, build your CAS portfolio, and make a difference in the community. Furthermore, if you’re planning on pursuing a career in journalism, writing, or other related careers, you can gain more insight and experience by doing this activity.</p>
        <p>In order to join, or learn more about the activity, head to <a href="https://discord.gg/ibo">https://discord.gg/ibo</a> and get the NP Member role.</p>
        <p>Please keep in mind that the activity, like any other, still has to be approved by your CAS coordinator.</p>
    </div>
    <hr>
    <div id="end">
        <h4>Thank you for checking out this Website, More updates will come soon!</h4>
        <p>Sincerely, <a href="https://github.com/Phytonking">Phytonking (Avi Agola)</a> and the IBONews Team</p>
    </div>
{% endblock %}