{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{classification}} Articles
{% endblock %}

{% block body %}
    <style>
        .container {
          display: flex;
          align-items: center;
          border: 2px black solid;
        }
      
        .image {
          max-width: 400px;
          max-height: 300px;
          margin-right: 20px;
        }
      </style>
      <h2>{{classification}} Articles</h2>
      {% if count == 0 %}
        <h3>No Articles found or published yet. Come back soon!</h3>
      {% else %}
        {% for x in posts %} 
            
                <div class="container">
                    <img class="image" src="{{x.image}}" alt="An Example Image">
                    <div>
                    <a href="{% url 'encyclopedia:article' x.article_id %}">
                        <h2>{{x.title}}</h2>
                    </a>
                    <p>By {{x.author}}, Published {{x.date_published}}</p>
                    <hr>
                    <p>{{x.description}}</p>
                    </div>
                </div>
           
        {% endfor %}
      {% endif %}
{% endblock %}
