{% extends "encyclopedia/layout.html" %}

{% block title %}
    r/IBONews
{% endblock %}

{% block body %}
    {% if user.is_authenticated != True %}
    <h1>Welcome to the IBONews</h1>
    <main>
        <section>
            <h2><b>What is this Project?</b></h2>
            <p>This is r/IBO Newspaper. This way, members can share their writings and their talents, such as drawing, and even music. Not only these, but this newspaper can allow members to share their stories, tips, and help one another, which is essentially the purpose of this server. This can serve as a platform for students to explore issues that are important to them and their peers, such as social justice, mental health, academic stress, and the IBO, of course.

                This project will not only help bring the community together, but it will also help students develop their writing, editing, and digital media skills, which can be beneficial for the diploma programme, and even possibly their future academic and professional careers. Partaking in this project can help members to promote critical thinking, awareness, and advocacy, for things they’re interested about.
                </p>
        </section>
        <section>
            <h2>CAS Project Integration</h2>
            <p>The assistance provided through the CAS channel is limited. Despite other channels offering help to the IB students, the CAS channel is commonly filled with responses such as "ask your coordinator," which is made light of in the channel's description, as well. 
                <br>
                Additionally, people often seek project ideas in the channel, which contravenes rule 5 concerning academic dishonesty, and some individuals use the channel to promote their own CAS projects, which violates rule 10. By incorporating a CAS project section within the server, we can provide assistance to all three groups mentioned and also direct people to this section when they seek project ideas.
                </p>
        </section>
        <section>
            <h2>Join Us!</h2>
            <p>We invite you to be a part of this exciting journey...</p>
            <ul>
                <li><p><strong>Access Exclusive Content:</strong> By signing up for a <a href="{% url 'encyclopedia:login' %}">FREE account</a></p></li>
                <li><p><strong>Stay Informed:</strong> Stay up-to-date with the latest publications and contributions with our Newsletter!</p></li>
            </ul>
            <p>Join us in celebrating the diversity of talent, ideas, and experiences within the IB community!</p>
        </section>
    </main>
    {% else %} 
    <style>
        .container {
          display: flex;
          align-items: center;
          border: 2px black solid;
        }
      
        .image {
          max-width: 400px;
          max-height: 300px;
          margin-right: 20px;
        }
      </style>
      <h1>Articles</h1>
      {% if count == 0 %}
        <h3>No Articles found or published yet. Come back soon!</h3>
      {% else %}
        {% for x in posts %} 
            
                <div class="container">
                    <img class="image" src="{{x.image}}" alt="An Example Image">
                    <div>
                    <a href="{% url 'encyclopedia:article' x.article_id %}">
                        <h2>{{x.title}}</h2>
                    </a>
                    <p>By {{x.author.name}}, Published {{x.date_published}}</p>
                    <hr>
                    <p>{{x.description}}</p>
                    </div>
                </div>
           
        {% endfor %}
    {% endif %}
    {% endif %}
{% endblock %}
