{% extends "encyclopedia/layout.html" %}

{% block title %}
    Admin - Newsletter Settings
{% endblock %}

{% block body %}
    <style>
        .container {
          display: flex;
          align-items: center;
        }
      
        .image {
          max-width: 400px;
          max-height: 300px;
          margin-right: 20px;
        }
      </style>
      <h1>Newsletter System</h1>
      <p>{{subscriber_count}} subscribers to Newsletter</p>
      <form action="{% url 'encyclopedia:newsletter' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="w3-button w3-green" value="Send Newsletter to the People!">
      </form>
      <h3 style="color: green;">{{message}}</h3>
      <hr>
      {% if count == 0 %}
        <h3>No Articles found or published yet. Come back soon!</h3>
      {% else %}
        <h3>Instructions</h3>
        <p>All articles which are marked as "Featured" on the website are present here and will be sent with the newsletter when the newsletter is ordered to be sent.</p>
        <p>If changes are needed to the articles, go to the <a href="/admin">admin site</a> and demark the Featured category on the articles. </p>
        <p>Once the button is pressed, the mail will be sent immediately, <b>ONLY DO IT WHEN EVERYTHING IS READY TO GO.</b> </p>
        <hr>
        <h3>Articles to be sent: </h3>
        {% for x in posts %} 
            
                <div class="container">
                    <img class="image" src="{{x.image}}" alt="An Example Image">
                    <div>
                    <a href="{% url 'encyclopedia:article' x.article_id %}">
                        <h2>{{x.title}}</h2>
                    </a>
                    <p>By {{x.author.name}}, Published {{x.date_published}}</p>
                    <hr>
                    <p>{{x.description}}</p>
                    </div>
                </div>
           
        {% endfor %}
    {% endif %}
{% endblock %}
