{% extends 'encyclopedia/layout.html' %}


{% block title %}
    Search
{% endblock %}



{% block body %}
<style>
    .container {
      display: flex;
      align-items: center;
      border: 2px black solid;
    }
  
    .image {
      max-width: 400px;
      max-height: 300px;
      margin-right: 20px;
    }
  </style>
    <h1>Search IBONews</h1>
    <form action="{% url 'encyclopedia:search' %}" method="post">
        {% csrf_token %}
        <input class="search" type="text" name="q" placeholder="Search Encyclopedia" style="width:500px;" value="{{searched}}">
        <input type="submit">
    </form>
    <h1>Search Results for: "{{searched}}"</h1>
    <hr>
    {% for x in results %}
        <div class="container">
            <img class="image" src="{{x.image}}" alt="An Example Image">
            <div>
            <a href="{% url 'encyclopedia:article' x.article_id %}">
                <h2>{{x.title}}</h2>
            </a>
            <p>By {{x.author.name}}, Published {{x.date_published}}</p>
            <hr>
            <p>{{x.description}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}